<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/w-red/index.json" />
    <add key="local-packages" value="C:\NuGetLocal" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="w-red" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </github>
  </packageSourceCredentials>
</configuration>
